.app-about{
    @include flex($dir: row, $jc: space-around, $ai: center);
    width: 100%;
    padding: 2.5em 0;
    border-top: 2px solid $border;
    background-image: url('../../assets/images/footer/colorful-removebg-preview.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    &-content{
        @include flex($jc: center, $ai: flex-start);
        gap: .5em;
        max-width: 570px;
        background-image: url('../../assets/images/footer/colorful-removebg-preview.png');
        background-repeat: no-repeat;
        background-position-x: 80%;
        background-position-y: 20%;
        &__txt{
            font-size: 1.5em;
            letter-spacing: 1.5px;
            &_right{
            width: 100%;
               text-align: right;
            }
        }
        button, a{
            align-self: center;
        }
    }
}
.mini-pages{
    @include flex($dir: row, $ai: space-between);
    gap: 1em;
    width: 100%;
    height: 550px;
    padding: 2.5em 0;
    border-top: 2px solid $border;
    background-image: url('../../assets/images/footer/colorful-removebg-preview.png');
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 100%;
    .title-block-mini{
        width: 100%;
        padding-left: 20%;
        font-size: 2.5em;
    }
    .work-mini{
        @include flex();
        flex-grow: 3;
        padding-right: 1em;
        border-right: 2px solid $border;
    }
    .blog-mini{
        @include flex($jc: space-between);
        width: 300px;
        flex-grow: 1;
        &-list{
            @include flex();
            gap: 1em;
        }
        &-item{
            @include flex($ai: flex-start);
            width: 100%;
            gap: .5em;
            padding: 0.5em 1em;
            font-size: 1.5em;
            border: 2px solid $border;
            border-radius: 10px;
            background-color: $soft;
            data{
                font-weight: 700;
            }
        }
    }
    .work-mini-content{
        height: 100%;
        @include flex($ai: space-between);
        a{
            @include flex($dir: row, $ai: space-between);
            width: 800px;
            padding: 1em;
            border: 2px solid $border;
            border-radius: 10px;
            background-color: $soft;
        }
        &-img-wrap{
            text-align: center;
        }
        &__img{
            width: 70%;
        }
        &-discribe{
            @include flex($ai: flex-start);
            gap: .5em;
            font-size: 1.5em;
        }
        &__title{
            font-size: 1.2em;
            font-weight: 600;
        }
        &__txt{
            font-size: 1em;
        }
    }
}











@media screen and (max-width: 992px) {
    .app-about{
        background-position-x: 50%;
        background-position-y: 50%;
        &-content__txt{
            font-size: 1.3em;
        }
    }
}

@media screen and (max-width: 768px) {
    .app-about{ 
        background-image: none;
        &__img{
            width: 250px;
        }
    }

}

@media screen and (max-width: 576px) {
    .app-about{
        position: relative;
        padding-top: 150px;
        @include flex($jc: center, $ai: center);
        &-content{
            position: relative;
            max-width: 400px;
            background-image: none;
        }
        
        &-content__txt{
            font-size: 1em;
            letter-spacing: 1px;
        }
        &__img{
            position: absolute;
            top: 5px;
            z-index: 0;
        }
    }
}