.title-block{
    padding-left: 1.25em;
    font-size: 3em;
    letter-spacing: -1;
    font-weight: 500;
    color: $primery;
}
@media screen and (max-width: 992px) {
    .title-block{
        font-size: 2em;
    }
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .title-block{
        font-size: 1.5em;
    }
}