.app-header{
    @include flex($dir: row, $jc: space-between, $ai: center);
    width: 100%;
    background-image: url('../../assets/images/footer/colorful-removebg-preview.png');
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 50%;
    background-size: contain;
    &-nav{
            display: flex;
            @include flex($dir: row, $jc: space-between, $ai: center);
            gap: 1.5em;
        &-items{
            @include flex($dir: row, $jc: space-between, $ai: center);
            gap: 1.5em;
        }
    }
}

.wrap-hamburger{
    display: none;
}

@media screen and (max-width: 768px) {
    .app-header{
        position: relative;
        background-image: none;
        &-nav{
                position: absolute;
                top: -10px;
                right: -20px;
                @include flex($dir: column, $jc: center, $ai: flex-end);
                width: 100vw;
                height: 100vh;
                gap: 1.5em;
                background-color: $soft;
                z-index:2;
            &-items{
                background-image: url('../../assets/images/footer/colorful-removebg-preview.png');
                background-repeat: no-repeat;
                background-position-x: 30%;
                background-position-y: 0%;
                @include flex($dir: column, $jc: center, $ai: center);
                width: 100%;
                gap: 1.5em;
            }
            &-ds{
                display: none;
            }
        }
    }
   .wrap-hamburger{
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
.wrap-hamburger{
    z-index: 9999;
}