.app-header{
    @include flex($dir: row, $jc: space-between, $ai: center);
    width: 100%;
    &-nav{
            @include flex($dir: row, $jc: space-between, $ai: center);
            gap: 2em;
        &-items{
            @include flex($dir: row, $jc: space-between, $ai: center);
            gap: 1.5em;
        }
    }
}