@use '../../styles/reset';

#root{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: $background;
}

.d-none{
    display: none !important;
}

@media screen and (max-width: 1200px) {
    #root{
        max-width: 1200px;
    }
}

@media screen and (max-width: 992px) {
    #root{
        max-width: 992px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 768px) {
    #root{
        max-width: 768px;
    }
}

@media screen and (max-width: 576px) {
    #root{
        max-width: 576px;
    }
}

// @media screen and (max-width: 1200px) {

// }

// @media screen and (max-width: 992px) {

// }

// @media screen and (max-width: 768px) {

// }

// @media screen and (max-width: 576px) {
  
// }