.app-contacts{
    background-image: url('../../assets/images/footer/colorful-removebg-preview.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}