.nav-item{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5em;
    color: $primery;
    letter-spacing: 2px;
    cursor: pointer;
    transform: 2s;
    &:hover{
        color: $hover;
    }
    &:active{
        color: $soft;
    }
}

@media screen and (max-width: 992px) {
    .nav-item{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    .nav-item{
       font-size: 1.5em;
    }
}

@media screen and (max-width: 576px) {
    .nav-item{
       font-size: 1.2em;
    }
}
