.nav-item{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5em;
    color: $primery;
    letter-spacing: 2px;
    cursor: pointer;
    transform: 2s;
    &:hover{
        color: $hover;
    }
    &:active{
        color: $soft;
    }
}