.app-blog{
    &-wrap{
        @include flex();
        gap: 1em;
        width: 100%;
        margin-top: 4em;
    }
    &-item{
        @include flex($ai: flex-start);
        width: 100%;
        padding: 2em;
        border: 2px solid $border;
        border-radius: 25px;
        background-color: $soft;
        &-content-wrap{
            @include flex($dir: row, $jc: space-between);
            width: 100%;
        }
        &-show{
            @include flex($dir: row,);
            gap: 2em;
            font-size: 1.5em;
        }
        &-content{
            width: 100%;
            margin-top: 2em;
            font-size: 1.2em;
        }
    }
}
.btn-set{
    font-size: 2em;
}