.app-blog{
        padding: 2.5em 0;
        border-top: 4px solid $border;
    &-wrap{
        @include flex();
        gap: 1em;
        width: 100%;
        margin-top: 4em;
        background-image: url('../../assets/images/footer/colorful-removebg-preview.png');
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 100%;
    }
    &-item{
        @include flex($ai: flex-start);
        width: 100%;
        padding: 2em;
        border: 2px solid $border;
        border-radius: 25px;
        background-color: $soft;
        &-content-wrap{
            @include flex($dir: row, $jc: space-between);
            width: 100%;
        }
        &-show{
            @include flex($dir: row,);
            gap: 2em;
            font-size: 1.5em;
        }
        &-content{
            width: 100%;
            margin-top: 2em;
            font-size: 1.3em;
            letter-spacing: 1.5px;
            line-height: 1.5;

        }
    }
}
.btn-set{
    width: 2em;
    height: 2em;
    border-left: 1em solid  $soft;
    border-right: 1em solid  $soft;
    cursor: pointer;
}
#btn-on{
    border-top: 2em solid $primery;
    &:hover{
        border-top: 2em solid $hover;
    }
}
#btn-off{
    border-bottom: 2em solid $primery;
    &:hover{
        border-bottom: 2em solid $hover;
    }
}
@media screen and (max-width: 1200px) {
    .app-blog{
            &-content{
                font-size: 1.2em;
        }
    }
}
@media screen and (max-width: 768px) {
    .app-blog{
        &-wrap{
            margin-top: 2em;
        }
        &-item{
            &-show{
                @include flex($dir: row,);
                gap: 2em;
                font-size: 1.2em;
            }
            &-content{
                font-size: 1.2em;
            }
        }
    }
    .btn-set{
        width: 1em;
        height: 1em;
        cursor: pointer;
    }
}
@media screen and (max-width: 576px) {
    .app-blog{
        &-item{
            &-show{
                @include flex($dir: column, $ai: flex-start);
                gap: 1em;
                font-size: 1.2em;
            }
            &-content{
                font-size: 1em;
            }
        }
    }
    .btn-set{
        width: .5em;
        height: .5em;
    }
}